<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar</title>
</head>
<body>
    <p>Alteração</p>
    <form method="post">
        Alterar e-mail<br>
        Digite o e-mail atual:<input type="email" name="emailAntigo" required/><br>
        Digite o e-mail novo:<input type="email" name="emailNovo" required/><br>
        <input type="submit" name="emailAlterado" value="Alterar e-mail" /><br>    
    </form>
    <h1>{{msg}}</h1>
</body>
</html>