<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cadastro.css')}}"  />
    

    <title>Cadastro</title>
</head>
<body>
    <form action="{{url_for('cadastro')}}" method="POST"><br>
        Nome: <input type="text" id ="nomeCadastro"name="nomeCadastro" required/><br>
        E-mail: <input type="email" id="emailCadastro" name="emailCadastro" required/><br>
        Senha: <input type="password" id="senhaCadastro" name="senhaCadastro" required/><br>
        <input type="submit" name="btnCadastro" value="Cadastrar" />
        <script type="text/javascript" src="{{url_for('static', filename='javacript/cadastro.js')}}"></script>
    </form>
    <div id="mensagem">
        <h3>A senha deve conter os seguintes passos:</h3>
        <p id="minuscsula" class="invalid">A <b>letra minúscula</b> letter</p>
        <p id="maiuscula" class="invalid">A <b>letra maiúscula</b> letter</p>
        <p id="numero" class="invalid">A <b>número</b></p>
        <p id="tamanho" class="invalid">Minimum <b>8 characters</b></p>
      </div>
    <h1>{{msg}}</h1>
</body>
</html>

