<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar</title>
</head>
<body>
    <form ction="{{url_for('deletar')}}" method="post">
        Digite o e-mail:<input type="email" name="emailDel" />
        Digite a senha: <input type="password" name="senhaDel" />
        <input type="submit" value="deletar" />
        <a href="{{url_for('home')}}"><input type="submit" value="Voltar" /></a>

    </form>
    <h1>{{msg}}</h1>
</body>
</html>