<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
</head>
<body>
    <p>Histórico</p>
   
    <table>
        <tr>
          <th>noticia</th>
          <th>resultado</th>
          <th>data da analise</th>
        </tr>
        <tr>
            {%for linhas in resultado%}
            <th>{{linhas.noticia}}</th>
            <th>{{linhas.resultado}}</th>
            <th>{{linhas.data_analise}}</th>            
          </tr>        
          {% endfor %}
      </table>
</body>
</html>