<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção</title>
</head>
<body>
    <p>Detecção de notícia</p>
    
    <!--caso já exista sessão-->
    {% if session['id']  %}
        <h1>{{msg}}</h1>
        <h1>{{usuario}}</h1>
        <a href="{{url_for('alterar')}}"><input type="submit" value="alterar" /></a>
        <a href="{{url_for('historico')}}"><input type="submit" value="historico" /></a>
        <a href="{{url_for('deletar')}}"><input type="submit" value="deletar" /></a>
        <a href="{{url_for('sair_sessao')}}"><input type="submit" value="sair" /></a>
    {% else %} <!--Caso não tenha sessão-->
        <a href="{{url_for('cadastro')}}"><input type="submit" value="cadastro" /></a>
        <a href="{{url_for('login')}}"><input type="submit" value="login" /></a> 
        <a href="{{url_for('sair_sessao')}}"><input type="submit" value="sair" /></a>
    {% endif %}
</body>
</html>